@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Page Bakcground */
#page-1 {
  background: url("Images/images\ \(1\).jpg") no-repeat center center/cover;
}
#page-2 {
  background: url("Images/images\ \(2\).jpg") no-repeat center center/cover;
}
#page-3 {
  background: url("Images/images\ \(3\).jpg") no-repeat center center/cover;
}
#page-4 {
  background: url("Images/images\ \(4\).jpg") no-repeat center center/cover;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
    color: #333;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: #fff;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all 0.3s ease-in;
}

.btn:hover, .btn-dark {
    background: #333;
    color: #fff;
}

.btn-dark:hover {
    background: #fff;
    color: #333;
}